.container {

    >.add_btn {
        display: flex;
        align-items: center;
        gap: .2rem;
        margin: 0 0 0 auto;

        svg {
            font-size: 1rem;
        }

        &:hover {
            color: #5d4c91;
            font-weight: 600;
        }
    }

    .menu_edit_list {
        width: 100%;
        padding-top: 1rem;

        .list_head {
            border-bottom: 2px solid #bbb;
            background: #fff !important;
            padding: 0.5rem .3rem;

            p {
                font-size: 0.8rem;
                font-weight: 600;
                text-align: center;
            }
        }
        
        li {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 2fr 55px 150px;
            column-gap: .4rem;
            padding: .3rem;
            border-bottom: 1px solid #ddd;

                input {
                    font-size: 0.78rem;
                    background: #fff;
                    height: 2rem;

                }
                
                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .4rem;
                    
                    button {
                        height: 1.7rem;
                        font-size: 0.65rem;
                        color: #fff;
                        letter-spacing: .03rem;
                        padding: 0 .7rem;
                    }

                    .add_btn {
                        background: #7D6CB2;
                        
                        &:hover {
                            background: #5d4c91;
                        }
                    }

                    .delete_btn {
                        background: #555;
                        
                        &:hover {
                            background: #202a25;
                        }
                    }
                }
        }

        form {

            > li {
                background: #F0F1F9;
    
                &:hover {
                    background: #d3d6ee;
                }
            }
        } 

        .depth2 {
            position: relative;
            background: #FFFCF2;

            &:hover {
                background: #FFF5D6;
            }

            .depth2_arrow_ico {
                position: absolute;
                top: 50%;
                left: .5rem;    
                transform: translateY(-50%);
                font-size: 1rem;
            }

            li {
                position: relative;

                input {
                    &:nth-child(2) {
                        margin-left: 1.5rem;
                        width: calc(100% - 1.5rem);
                    }
                }

                > div {

                    .add_btn {
                        visibility: hidden;
                    }
                }
            }
        }
    }

    .submit_btn {
        margin: 1.5rem 0 0 auto;
        display: block;
        background: #5D4C91;
        color: #fff;
        padding: 0.3rem 2rem;
        border-radius: 5px;
        font-size: .8rem;
        transition: .3s;

        &:hover {
            background: #4E3F78;
        }
    }
}

@media screen and ( max-width : 600px ) {
    .container {

        .menu_edit_list {
            overflow-x: auto;
            
            li {
                min-width: 330px;
                grid-template-columns: 1.3fr 1.7fr 30px 100px;

                input {
                    padding: 0 .5rem;
                }
            }

            .depth2 {

                .depth2_arrow_ico {
                    font-size: 0.7rem;
                }

                li {

                    input {

                        &:nth-child(2) {
                            margin-left: 1rem;
                            width: calc(100% - 1rem);

                        }
                    }
                }
            }
        }
    }
}