.admin {
    display: flex;
    background: #065C38;
    height: 100vh;

    .admin_lnb_outer {
        position: relative;
        z-index: 2;
    }
    .admin_lnb {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        color: #fdfdfd;
    }


    >.right {
        margin: 8px 8px 8px 250px;
        width: calc(100% - 250px);
        background: #fdfdfd;
        border-radius: 30px;
        padding: 0 1rem;
    }

    &.active {

        .admin_lnb {
            
            width: 70px;
    
            .container {
    
                .tit {
                    padding: 0;
    
                    a {
                        text-align: center;
                        font-size: 1rem;
    
                        .pc,
                        svg {
                            display: none;
                        }
    
                        .mo {
                            display: block;
                        }
                    }
                }

                .gnb {

                    >li {
                        position: relative;

                        >a {
                            z-index: 10;
                            
                            > span,
                            .arrow_ico {
                                display: none;
                            }

                            svg {
                                z-index: 10;
                            }
                        }

                        .gnb_sub {
                            position: absolute;
                            left: 100%;
                            z-index: 2;
                            top: 0;
                            width: 200px;
                            background: #fff;
                            padding: .5rem 0;
                            box-shadow: 2px 2px 5px rgba(0,0,0,.4);

                            li {
                                a {
                                    background: #fff;
                                    border-radius: 0;
                                    transition: .3s;

                                    &:hover {
                                        background: #ececec;
                                    }
                                }
                            }
                        }
                    }
                }

                .notify_box {
                    p {

                        a {
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

        > .right {
            width: calc(100% - 70px);
            margin-left: 70px;
        }
    }
}

.admin_lnb {

    .container {        
        
        .tit {
            margin: 4rem 0 2rem;
            padding: 0 1rem;
            color: #fdfdfd;

            a {
                display: block;
                font-size: 1.6rem;
                text-transform: uppercase;
                font-family: impact;
                position: relative;

                svg {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }

                .mo {
                    display: none;
                }
            }
        }

        .gnb {

            > li {
                position: relative;

                &.active {

                    a {
                        background: #fdfdfd;
                        color: #064C30;
                        font-weight: 600;
                    }

                    .gnb_sub {
                        display: block;
                    }
                }
                
                > a {
                    display: flex;
                    align-items: center;
                    column-gap: .5rem;
                    padding: 0.5rem 1rem;
                    font-size: .9rem;
                    position: relative;

                    &:hover {
                        text-decoration: underline;
                    }

                    .arrow_ico {
                        position: absolute;
                        right: 2rem;
                        top: 50%;   
                        transform: translateY(-50%);
                    }
                }
                
                .gnb_sub {
                    padding: .2rem 1rem .7rem 0;
                    background: #fdfdfd;
                    display: none;

                    > li {
                        // background: #2A7256;
                        background: #fdfdfd;
                        color: #064C30;

                        > a {
                            display: block;
                            font-size: .75rem;
                            padding: .3rem 1rem .3rem 3rem;
                            position: relative;

                            &::before {
                                position: absolute;
                                content: '';
                                width: 6px;
                                height: 1px;
                                // background: #fdfdfd;
                                background: #065C38;
                                top: 50%;
                                left: 2rem;
                                transform: translateY(-50%);
                            }

                            &.active {
                                background: #ececec;
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .notify_box {
            position: absolute;
            bottom: 1rem;  
            padding: 1rem .5rem;
            width: 100%;

            p {
                width: 100%;
                border-radius: 20px;
                background: #2A7256;
                padding: .4rem;

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
                
                a {
                    font-size: .8rem;
                    line-height: 1.3;
                    display: flex;
                    align-items: flex-start;

                    svg {
                        display: inline-block;
                        font-size: 1rem;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.admin_head {
    
    .container {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        border-radius: 30px 30px 0 0;

        .left {

            .ham_btn {
                display: block;
                width: 1rem;
                height: 1rem;
                position: relative;

                svg {
                    font-size: 1.5rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;  
                    transform: translate(-50%, -50%);
                    color: #064C30;
                }
            }
        }

        .right {

            .util {
                display: flex;
                align-items: center;
                column-gap: .5rem;

                > li {
                    position: relative;

                    .util_sub {
                        display: flex;
                        column-gap: .5rem;

                        > li {

                            a {
                                padding: .4rem .7rem;
                                border: 1px solid #ccc;
                                border-radius: 30px;
                                font-size: 0.8rem;
                                transition: .3s;

                                &:hover {
                                    background: #2A7256;
                                    color: #fdfdfd;
                                    border-color: transparent;
                                }
                            }
                        }
                    }

                    .profile {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        .img {
                            width: 2rem;
                            height: 2rem;
                        }

                         p {
                            margin-left: .5rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 6rem;
                            display: flex;
                            align-items: center;

                            &.active {
                                svg {
                                    transform: rotate(-180deg);
                                }
                            }

                            svg {
                                font-size: 1rem;
                                transition: .5s;
                            }
                        }
                    }

                    .profile_sub {
                        position: absolute;
                        top: calc(100% + .7rem);  
                        right: 0;
                        width: 100%;
                        min-width: 8rem;
                        z-index: 100;
                        border: 1px solid #ddd;
                        border-top: 0 none;
                        background: #fff;
                        display: none;
                        
                        &.active {
                            display: block;
                        }

                        li {
                            a {
                                display: flex;
                                align-items: center;
                                padding: .3rem .5rem;
                                font-size: .8rem;
                                transition: .3s;

                                &:hover {
                                    background: #ececec;
                                }

                                svg {
                                    font-size: .8rem;
                                    margin-left: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.admin_main {
    height: calc(100% - 100px);
    background: #f8f8f8;

    .container {
        padding: .5rem;
        
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: .7rem;

            >.left,
            >.right {

                > div,
                >ul {
                    background: #fff;
                    border-radius: 14px;
                    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
                    padding:1rem;
                    position: relative;
                }
 
                h3 {
                    font-size: .8rem;
                    color: #222;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
            }

            .left {
                width: calc(70% - .5rem);
            }

            .right {
                width: calc(30% - .5rem);
            }

            .shortcut_link {
                position: absolute;
                right: 1rem;
                top: 1rem;
                color: #7d7d7d;
                font-size: 0.7rem;
                display: flex;
                align-items: center;
                gap: .2rem;

                svg {
                    font-size: 0.9rem;
                }
            }
        }

        .row1 {

            .count_list {
                display: flex;
                justify-content: space-between;
 
                li {
                    width: 24%;
                    background: #ededed;
                    border-radius: 14px;
                    padding: .7rem 1rem;
                    position: relative;

                    h4 {
                        color: #555;
                        font-size: .7rem;
                        font-weight: 500;
                        margin-bottom: 0.1rem;
                    }
                    p {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }

                    .refresh {
                        position: absolute;
                        top: .7rem;
                        right: 1rem; 
                        
                        svg {
                            font-size: 1rem;
                            color: #555;
                            transition: .3s;
                            
                            &:hover {
                                color: #000;
                            }
                        }  
                    }
                }

                .point {
                    background: #98C3B1;
                }
            }

            .notify {
                height: 100%;

                ul {

                    li {
                        display: flex;  
                        align-items: center;
                        position: relative;
                        font-size: 0.9rem;

                        svg {
                            font-size: 1rem;
                            color: #064C30;
                            margin-right: 0.5rem;
                        }

                        strong {
                            color: #064C30;
                            font-weight: 900;
                            margin-right: .2rem;
                        }

                        span {
                            position: absolute;
                            right: 0;
                            color: #bbb;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        .row2 {

            .left,
            .right {
                > div {
                    position: relative; 
                }
            }

            .left {
                display: flex;
                gap: 0.5rem;
                
                > div {
                    width: 50%;
                }

                .info {

                }
                .current {

                }
            }

            .right {

                .recent {

                }
            }
        }
    }
}

.admin_foot {
    
    .container {
        height: 50px;
        border-top: 1px solid #ddd;

        p {
            text-align: right;
            font-size: .8rem;
            line-height: 25 px;
        }
    }

}