.admin_board {

    .container {

        .board_list {
            position: relative;
            padding-top: 1rem;

            .board_add_btn {
                position: absolute;
                bottom: 100%;
                right: 0;
                display: flex;
                align-items: center;
                gap: .2rem;
                color: #333;

                svg {
                    font-size: 1rem;
                }
            }

            .list_head {
                display: flex;
                align-items: center;
                background: #fff !important;
                border-bottom: 2px solid #bbb !important;
                
                p {
                    font-size: .8rem !important;
                    font-weight: 600;
                    line-height: 1.1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .mo_br {
                        display: none;
                    }
                }
            }
            
            li {                
                width: 100%;
                list-style: none;
                padding: .5rem 0;
                position: relative;
                background: #fff;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #ddd;

                &:nth-child(odd) {
                    background: #F0F1F9;
                }
                
                &:hover {
                    background: #d3d6ee;
                }

                .board {
                    width: 92%;
                    display: grid;
                    grid-template-columns: .6fr 3fr 4fr 2.4fr;

                    p {
                        font-size: 0.78rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .index {
                        text-align: center;
                        min-width: 30px;
                    }
    
                    .board_upload_count {
                        text-align: center;
                    }
                }

                .retouch_btn {
                    white-space: nowrap;
                    text-align: center;
                    width: 8%;
                    min-width: 20px;
                    color: #aaa;
                    font-size: 0.7rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width : 800px) {
    
    .admin_board {

        .container {
            .board_list {

                .board_add_btn {
                    font-size: 0.7rem;
                }

                .list_head {

                    p {
                        font-size: 0.8rem;
                    }
                }
            
                li {
                    padding: 0.7rem 0;

                    .board_upload_count {
                        min-width: auto;
                        white-space: nowrap;
                    }

                    .board {

                        p {
                            font-size: .8rem;
                        }
                    }

                    .retouch_btn {
                        font-size: 0.65rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width : 600px) {
    .admin_board {

        .container {
    
            .board_list {

                li {

                    .board_upload_count {

                        .mo_br {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}