.admin {
    display: flex;
    background: #065C38;
    height: 100vh;

    .admin_lnb {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        color: #fdfdfd;
    }

    >.right {
        margin: 8px 8px 8px 250px;
        width: calc(100% - 250px);
        background: #fdfdfd;
        border-radius: 30px;
    }
}

.admin_lnb {

    .container {        
        
        .tit {
            margin: 4rem 0 2rem;
            padding: 0 1rem;
            color: #fdfdfd;

            a {
                display: block;
                font-size: 1.6rem;
                text-transform: uppercase;
                font-family: impact;
                position: relative;

                svg {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
        }

        .gnb {

            > li {
                position: relative;

                &::after
                ,&::before {
                    position: absolute;
                    content: '';
                    display: none;
                }
                
                &::after {
                    width: 20px;
                    height: 20px;
                    top: 100%;
                    right: 0;   
                    background: #fdfdfd;
                }

                &::before {
                    width: 40px;
                    height: 40px;
                    top: 100%; 
                    right: 0;
                    z-index: 1;
                    border-radius: 100%;
                    background: #065C38;
                }

                &.active {

                    &::after,
                    &::before {
                        display: block;
                    }

                    > a {
                        background: #fdfdfd;
                        color: #064C30;
                        font-weight: 600;
    
                        &::after,
                        &::before {
                            display: block;
                        }
                    }
                }
                
                > a {
                    display: flex;
                    align-items: center;
                    column-gap: .5rem;
                    padding: 0.5rem 1rem;
                    font-size: .9rem;
                    position: relative;

                    &::after
                    ,&::before {
                        position: absolute;
                        content: '';
                        display: none;
                    }
                    
                    &::after {
                        width: 20px;
                        height: 20px;
                        bottom: 100%;
                        right: 0;   
                        background: #fdfdfd;
                    }

                    &::before {
                        width: 40px;
                        height: 40px;
                        bottom: 100%; 
                        right: 0;
                        z-index: 1;
                        border-radius: 100%;
                        background: #065C38;
                    }

                    &:hover {
                        text-decoration: underline;
                    }

                    .arrow_ico {
                        position: absolute;
                        right: 1rem;
                        top: 50%;   
                        transform: translateY(-50%);
                    }
                }
                
                .gnb_sub {
                    padding: .2rem 1rem .7rem 0;
                    background: #fdfdfd;
                    display: none;

                    > li {
                        // background: #2A7256;
                        background: #fdfdfd;
                        color: #064C30;

                        > a {
                            display: block;
                            font-size: .8rem;
                            padding: .3rem 1rem .3rem 3rem;
                            position: relative;

                            &::before {
                                position: absolute;
                                content: '';
                                width: 6px;
                                height: 1px;
                                // background: #fdfdfd;
                                background: #065C38;
                                top: 50%;
                                left: 2rem;
                                transform: translateY(-50%);
                            }

                            &.active {
                                background: #ececec;
                                border-radius: 0 20px 20px 0;
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .notify_box {
            position: absolute;
            bottom: 1rem;  
            padding: 1rem .5rem;
            width: 100%;

            p {
                width: 100%;
                border-radius: 20px;
                background: #2A7256;
                padding: .4rem;

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
                
                a {
                    font-size: .8rem;
                    line-height: 1.3;
                    display: flex;
                    align-items: flex-start;

                    svg {
                        display: inline-block;
                        font-size: 1rem;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.admin_head {
    
    .container {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        border-bottom: 1px solid #ddd;
        border-radius: 30px 30px 0 0;

        .left {

            .ham_btn {
                display: block;
                width: 2rem;
                height: 2rem;
                border: 1px solid #000;
            }
        }

        .right {

            .util {
                display: flex;
                align-items: center;
                column-gap: .8rem;

                > li {

                    .util_sub {
                        display: flex;
                        column-gap: .8rem;

                        > li {

                            a {

                            }
                        }
                    }

                    .profile {
                        display: flex;
                        align-items: center;

                        .img {
                            width: 2rem;
                            height: 2rem;
                        }

                         p {
                            margin-left: .5rem;
                        }
                    }

                    .profile_sub {
                        position: absolute;


                        li {
                            a {

                            }
                        }
                    }
                }
            }
        }
    }
}

.admin_main {
    height: calc(100% - 100px);
}

.admin_foot {
    height: 50px;
    border-top: 1px solid #ddd;
}