.container {

    .tit {
        font-weight: 800;
        font-size: 1.1rem;
    }

    .list {
         border-bottom: 1px solid #ddd;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;

        .nickname {
            font-size: .95rem;
            font-weight: 600;
            width: 100%;
            padding-left: 1rem;
        }

        .cont {
            width: 100%;
            font-size: .95rem;
            padding-left: 1rem;
        }

        .time {
            color: #bbb;
            font-size: .8rem;
            padding-left: 1rem;
        }
        
        .action {
            font-size: .8rem;
            display: flex;
            gap: 1rem;
            color: #bbb;
            margin-left: 1rem;

            > div {
                display: flex;
                gap: 0.5rem;
             }
        }
    }

    .reply_box {
        border: 2px solid #ddd;
        margin: 1rem 0 1rem 4rem;
        position: relative;

        form {
            width: 100%;
            align-items: flex-end;
            
            textarea {
                width: 100%;
                padding: 1rem 3rem 1rem 1rem;
                min-height: 90px;

                &::-webkit-scrollbar {
                    width: 8px;
                }
                &::-webkit-scrollbar-thumb {
                    height: 30%;
                    background-color: #ccc;
                    border-radius: 10px; 
                    background-clip: padding-box; 
                    border: 2px solid transparent;
                }
                &::-webkit-scrollbar-track {
                    background-color: #eee; 
                }
            }

            .submit_btn {
                position: absolute;
                bottom: 0;
                right: 10px;
                width: 2rem;
                height: 2rem;
            }
        }
    }

    .form_box {
        position: relative; 
        margin-top: -1px;
        border: 2px solid #ddd;


        textarea {
            width: 100%;
            padding: 1rem 3.5rem 1rem 1rem;
            min-height: 120px;
            height: auto;

            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-thumb {
                height: 30%;
                background-color: #ccc;
                border-radius: 10px; 
                background-clip: padding-box; 
                border: 2px solid transparent;
            }
            &::-webkit-scrollbar-track {
                background-color: #eee; 
            }
        }

        .submit_btn {
            display: block;
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            bottom: 0;
            right: .3rem; 
            transition: .3s;

                span {
                    color: #444;
                    font-size: 1.5rem;
                }

                
        }
    }
}