@media (max-width: 1300px) {
    #header .header-inner {
        width: 96% !important;
    }
}
@media screen and (max-width : 900px) {
    #header .header-inner .head-login li .ham_btn {
        /* display: block; */
    }
    #header .header-inner .gnb {
        position: fixed;
        right: -200px;
        top: 64px;
        display: block;
        background: #fff;
        border: 1px solid #ddd;
        min-width: 200px;
        /* display: none; */
    }
    #header .header-inner .gnb.active {
        display: block;
        right: 0;
    }
    #header .header-inner .gnb li a {
        line-height: 55px;
    }
    #header .header-inner .gnb li:hover {
        background: #eee;
    }
    #header .header-inner .gnb li:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
}

@media screen and ( max-width : 700px ) {
  #header .header-inner h1{
    width: 120px;
    min-width: 120px;
  }
  #header .header-inner .head-login{
    min-width: auto;
  }
  #header .header-inner .head-login li .profile p {
    font-size: 0.8rem;
  }
  #header .header-inner .head-login li .profile .img {
    width: 35px;
    height: 35px;
  }
  #header .header-inner .head-login li .profile svg {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
    html { font-size: 15px; }
    #header .header-inner {
        /* display: block; */
    }
    #header .header-inner .main_gnb >li >a {
        padding: 0 10px;
        min-width: 40px;
    }
    #header .header-inner .gnb {
        /* margin-top: 10px; */
    }
    #header .header-inner .gnb li a{
        line-height: 50px;
        font-size: .9rem;
        /* padding-left: 0;
        padding-right: 30px; */
    }
    #header .header-inner .head-login { 
        /* position: absolute;
        top: 18px;
        right: 10px; */
    }
    #header .header-inner .head-login li a {
        /* max-width: 80px; */
    }
}
@media screen and (max-width : 500px) {
    #header .header-inner {
        min-width: 320px;
    }
    #header .header-inner .gnb {
        top: 58px;
    }

    #header .header-inner .head-login {
        min-width: auto;
        gap: 5px;
        min-height: 58px;
    }
    #header .header-inner .head-login li a {
        max-width: 70px;
        padding: 7px 10px;
    }
    #header .header-inner .head-login li .profile {
        padding: 14px 0;
    }
    #header .header-inner .head-login li .profile p {
        max-width: 70px;
    }
    #header .header-inner .head-login li .ham_btn {
        width: 30px;
        height: 30px;
    }
}