.fGothic{font-family: 'NEXONFootballGothicLA1', 'NEXONFootballGothicLA1';}
@font-face {
  font-family: 'NEXONFootballGothicLA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicLA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* header */
#header {
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  background: #fff;
  z-index: 999;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
#header::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  top: 64px;
  background: #ddd;
}
#header.active {
  /* position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  background: #fff;
  z-index: 999; */
  
}
#header.active .header-inner .main_gnb >li .main_sub_gnb {
  display: block;
}

#header .header-inner { 
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
#header .header-inner h1 {
  font-size: 2em;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header-inner h1 a {
  display: block;
}
#header .header-inner .main_gnb {
  display: flex;
  gap: 1rem;
  font-size: 1em;
  transition: .3s;
}
#header .header-inner .main_gnb >li {
  transition: .3s;
  position: relative;
}
#header .header-inner .main_gnb >li >a {
  min-width: 50px;
  padding: 0 20px;
  line-height: 64px;
  display: block;
  text-align: center;
  position: relative;
}
#header .header-inner .main_gnb >li >a.active {
  color: #5d4c91;
  font-weight: 800;
}
#header .header-inner .main_gnb >li >a.active::before {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 2px;
  background: #5d4c91;
  content: '';
}
#header .header-inner .main_gnb >li .main_sub_gnb {
  display: none;
  padding: .7rem 0;
  /* position: absolute;
  top: 100%;
  left: 0;
  width: 100%; */
}
#header .header-inner .main_gnb >li .main_sub_gnb >li >a {
  display: block;
  text-align: center;
  font-size: .85rem;
  line-height: 2.5;
  transition: .3s;
}
#header .header-inner .main_gnb >li .main_sub_gnb >li >a.active1 {
  background: #5d4c91;
  color: #fff;
}
#header .header-inner .main_gnb >li .main_sub_gnb >li >a:hover {
  background: #d3d6ee;
}
#header .header-inner .head-login {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  min-width: 220px;
  min-height: 64px;
}
#header .header-inner .head-login > li {
  position: relative;
}
#header .header-inner .head-login li a {
  display: block;
  padding: 10px 15px;
  font-size: 0.85rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 30px;
  transition: .3s;
}
#header .header-inner .head-login >li:not(:nth-child(2)) a:hover {
  background: #eee;
}
#header .header-inner .head-login >li:nth-child(2) {
  position: relative;
}
#header .header-inner .head-login li .profile {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 10px 5px 10px 0;
  cursor: pointer;
}
#header .header-inner .head-login li .profile p {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}
#header .header-inner .head-login li .profile .img {
  width: 44px;
  height: 44px;
}
#header .header-inner .head-login li .profile svg {
  font-size: 1.2rem;
  transition: .3s;
}
#header .header-inner .head-login li .profile svg.active {
  transform: rotate(180deg);
}
#header .header-inner .head-login li .head-login-sub {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  border: 1px solid #ddd;
  width: 100%;
  background: #fff;
  z-index: 100;
}
#header .header-inner .head-login li .head-login-sub.active {
  display: block;
}
#header .header-inner .head-login li .head-login-sub.active a {
  border: none;
  padding: 10px 0;
  color: #222;
  border-radius: 0;
}
#header .header-inner .head-login li .head-login-sub.active a:hover {
    background:#5d4c91;
    color: #fff;
}
#header .header-inner .head-login li .ham_btn {
  display: block;
  width: 40px;
  height: 40px;
  display: none;
}
#header .header-inner .head-login li .ham_btn span {
  display: block;
  margin: auto;
  width: 3.5px;
  height: 3.5px;
  background: #222;
  position: relative;
  border-radius: 100%;
  transition: .3s;
}
#header .header-inner .head-login li .ham_btn span::after,
#header .header-inner .head-login li .ham_btn span::before {
  position: absolute;
  width: 3.5px;
  height: 3.5px;
  content: '';
  background: #222;
  left: 0;  
  border-radius: 100%;
  transition: .3s;
}
#header .header-inner .head-login li .ham_btn span::after {
  top: -8px;
}
#header .header-inner .head-login li .ham_btn span::before {
  bottom: -8px;
}
#header .header-inner .head-login li .ham_btn.active span {
  background: transparent;
}
#header .header-inner .head-login li .ham_btn.active span::after,
#header .header-inner .head-login li .ham_btn.active span::before {
  width: 20px;
  height: 2px;
  top: 50%;
  left: -7px;
}
#header .header-inner .head-login li .ham_btn.active span::after {
  transform: rotate(45deg);
} 
#header .header-inner .head-login li .ham_btn.active span::before {
  transform: rotate(-45deg);
}


/* header */
#footer {
  border-top: 1px solid #ddd;
}

#footer .footer-inner { 
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* 공통요소 */
.wrap {
  max-width: 1280px;
  margin: 0 auto;
}
.fontf {
  font-family: 'NEXONFootballGothicLA1', 'NEXONFootballGothicLA1';
}

.container_wrap {
  max-width: 1240px;
  width: 94%;
  margin: 100px auto 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/*-------------- pagination -------------*/
.boardlist_pagination_box {
  padding-bottom: 5rem;
  min-width: 280px;
}

.boardlist_pagination_box .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2px;
  margin-top: 2rem;
  visibility: visible;
}

.boardlist_pagination_box .pagination li a {
  display: block;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  color: #555;
  transition: .3s;
}

.boardlist_pagination_box .pagination li.active a {
  background: #ebebeb;
  color: #222;
}

.boardlist_pagination_box .pagination li:hover a {
  text-decoration: underline
} 




/*-------------- common -------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 초기화 */
html {
  overflow-y: scroll;
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular" !important;
  font-size: 16px;
  color: #222;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}
label,
input,
button,
select,
img {
  vertical-align: middle;
  font-size: 1em;
}
input,
button {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1em;
}
input[type="submit"] {
  cursor: pointer;
}
button {
  cursor: pointer;
}

textarea,
select {
  font-family: "Pretendard";
  font-size: 1em;
}
select {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}
hr {
  display: none;
}
pre {
  overflow-x: scroll;
  font-size: 1.1em;
}
a {
  color: #222;
  text-decoration: none;
}
em {
  font-style: initial;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
}
input[type="text"],
input[type="submit"],
input[type="password"] {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  -webkit-box-shadow: 0 0 5px #9ed4ff;
  -moz-box-shadow: 0 0 5px #9ed4ff;
  box-shadow: 0 0 5px #9ed4ff;

  outline: none;
  border: none;
}



